.title-section {
  background-color: #85586F;
  color: white;
  text-align: center;
  height: fit-content;
  padding: 0 !important;
}

.body-section {
  background-color: #F8EDE3;
}

.page-section {
  height: fit-content;
}

.page-sections-item {
  height: 1000px;
  padding: 0;
}
